@using Trader.Web.Helpers
<div class="reklama" id="banP101">
    <script>        adview.putBan(101);</script>
    <noscript> 
        <a href="http://ad.adview.pl/ad/reloadwww?dir=/domiporta_ads_M/&jsp=30&dx=112135&typ=101&nr=1&mb=1&t=@TimespanHelper.GetCurrentTimespan()">
        <img src="http://ad.adview.pl/ad/GetBanMb?dir=/domiporta_ads_M/&jsp=30&dx=112135&typ=101&cre=img&nr=1&t=@TimespanHelper.GetCurrentTimespan()" border="0" alt="" /></a> 
    </noscript>
</div>