<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections></configSections>
    <connectionStrings>
        <add name="TraderMailingUtil.Properties.Settings.TraderConnectionString" connectionString="Data Source=dev_server\SQL2005;Initial Catalog=Trader;Persist Security Info=True;User ID=DEVELOPER;Password=HE38HE38" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>