<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="WebUrl" value="http://www.domiporta.pl" />

    <!--<add key="SolrConnectionString" value="http://vsolr.dip-master-01.srv.trader.pl:8080/DiP/DiP/" />-->
    <add key="SolrConnectionString" value="http://trader-s4.srv.trader.pl:10083/DiP-slave/DiP/" />
    <!--<add key="SolrConnectionString" value="http://dev-server:8983/solr"/>-->

    <!-- Pictures start -->
    <add key="PictureServerUrl" value="http://dev.pictures.trader.pl/pictures/" />
    <add key="PictureMin" value="search-results/" />
    <add key="PictureMiedium" value="original/" />
    <add key="PictureMax" value="" />
    <!-- Pictures end -->
    
    <!-- Email keys start -->
    <add key="IsDevServer" value="true" />
    <add key="MailingQueue" value="Data Source=dev-server.srv.trader.pl;Initial Catalog=PlatformMailing;User Id=developer;Password=HE38HE38;" />
    <add key="DefaultSenderEmail" value="info@domiporta.pl" />
    <add key="DefaultSenderName" value="Domiporta.pl" />
    <add key="DefaultEmailSubject" value="Informacja z Domiporta.pl" />
    <!-- Email keys end -->
  </appSettings>
  <connectionStrings>
        <add name="TraderConn" connectionString="Data Source=dev-server.srv.trader.pl;Initial Catalog=Trader;User Id=developer;Password=HE38HE38;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
    </dependentAssembly>
  </assemblyBinding>
</runtime>
</configuration>