<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebUrl" value="http://www.domiporta.pl" />
    
    <!--<add key="SolrConnectionString" value="http://vsolr.dip-master-01.srv.trader.pl:8080/DiP/DiP/" />-->
    <add key="SolrConnectionString" value="http://trader-s4.srv.trader.pl:10083/DiP-slave/DiP/" />
    <!--<add key="SolrConnectionString" value="http://dev-server:8983/solr"/>-->
    
    <add key="PictureServerUrl" value="http://dev.pictures.trader.pl/pictures/search-results/" />
  </appSettings>
  
<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
    </dependentAssembly>
  </assemblyBinding>
</runtime>
</configuration>