<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<meta name="googlebot" content="noindex,follow">
	<meta name="googlebot-mobile" content="index,follow">
	<title>Serwis tymczasowo niedospny</title>
</head>

<body style="color : #666;font : 14px Arial;margin : 0px;padding : 0px;">
	<div style="background : url(logo-tlo.png) repeat-x;height : 46px;"><img alt="" src="http://pictures.trader.pl/pictures/mobileDomiporta/logo-domiporta-pl.png" style="padding : 10px 0px 0px 0px;" /></div>
	<div style="margin : 80px 15px 200px 30px;">
		<div>Przepraszamy ...</div>
		<div>Serwis tymczasowo niedostępny.</div>
		<div>Prosimy spróbować za chwilę.</div>
	</div>
	<div data-role="footer" style="background : #EBEBEB;font : 11px Arial;padding : 8px 0px;text-align : center;">
		<div style=""><a href="http://www.domiporta.pl" style="color : #336699;text-decoration : none;">Pełna wersja serwisu Domiporta.pl</a></div>
    	<div style="color : #999;font : 10px Arial;">Copyright © Trader.com (Polska)</div>
	</div>
    </body>
</html>